<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

	<application>

		<activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:theme="@style/BaseUnityGameActivityTheme"
            android:exported="true">

			<!-- Запуск приложения -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- Открытие .gamegift -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:mimeType="application/x-gamegift" />
			</intent-filter>

			<!-- На случай, если Android/приложение-передатчик
                 определит файл как обычный бинарный -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:mimeType="application/octet-stream" />
			</intent-filter>

			
			<meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />

			<meta-data
                android:name="android.app.lib_name"
                android:value="game" />

		</activity>

	</application>

</manifest>